.header{
   background-color: rgb(172, 183, 241);
  margin-bottom: 20px;
  text-align: center;
}

form{
  position: absolute;
  float: right;
  right: 5%;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(172, 183, 241);
}

#table-style{
  position: absolute;
  width: 55%;
  margin-left: 5%;
}
#search{
  height: 10%;
  
}
#delete{
  margin-left: 10%;
}
.negative{
  border: 1px solid red!important;
  color: red;
}
.positive{
  border: 1px solid green;
  color: green!important;
}